# Pandas Tutorial

Brandon Rhodes PyCon15

#! git clone https://github.com/brandon-rhodes/pycon-pandas-tutorial.git


<a href=pages.stern.nyu.edu/~dbackus/csv/> Data </a>

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd

To change the display of the pandas output

In [4]:
from IPython.core.display import HTML

css = open('pycon-pandas-tutorial/style-table.css').read() #+ open('pycon-pandas-tutorial/style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [8]:
titles = pd.DataFrame.from_csv(
    'pycon-pandas-tutorial/titles.csv', 
    index_col = None, 
    encoding = 'utf-8')
titles.head()

             title  year
0   Orlando Vargas  2005
1         Niu-Peng  1989
2    Anandabhadram  2005
3   Mahendra Varma  1993
4  Beomdiga shidae  1970

In [11]:
cast = pd.DataFrame.from_csv(
    'pycon-pandas-tutorial/cast.csv',
    index_col = None,
    encoding = 'utf-8')
cast.head(10)

,title,year,name,type,character,n
0,Suuri illusioni,1985,Homo $,actor,Guests,22
1,Gangsta Rap: The Glockumentary,2007,Too $hort,actor,Himself,NaN
2,Menace II Society,1993,Too $hort,actor,Lew-Loc,27
3,Porndogs: The Adventures of Sadie,2009,Too $hort,actor,Bosco,3
4,Stop Pepper Palmer,2014,Too $hort,actor,Himself,NaN
5,Townbiz,2010,Too $hort,actor,Himself,NaN
6,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
7,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
8,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8
9,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9